body
{
background-image:url("/home/6CSE1/20171cse0067/IMg/index.jpeg");
background-repeat:repeat;
}
h1
{
color:marron;
}
p{
color:blue;
margin-left:40px;
direction:rtl;
letter-spacing:5px;
word-spacing:5px;
text-indent:1cm;
text-align:center;
text-align:left;
}
p.new
{
word-spacing:15px;
text-indent:11cm;
text-align:center;
text-align:left;
class=normal;
}


